form.signup {
  margin-top: 50px;
}

#ingredientsRes, #drinkName, h4 {
  display: inline;
}

.border-box{
    padding: 10px 20px;
    border: 1px solid #fff;
    color: rgb(5, 5, 5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 216, 0.6);
    font-weight: bolder;
}

.favRow {
    padding: 10px 20px;
    border: 1px solid #fff;
    position: relative;
    font-size: large;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 216, 0.6);
}  
   
#imageSignup {
    background-image: url(https://images.pexels.com/photos/1227563/pexels-photo-1227563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
}

#imageMembers {
    background-image: url(../misc/drink3.jpeg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

.drinkImg {
    width: 45%;
    border-radius: 300px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  max-height: 100px;
  max-width: 100px;
  min-width: 50px;
  border: 0px !important;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

#find-drink:hover {
    background: rgb(77, 139, 231);
    color: black;
}

form.login {
    margin-top: 50px;
}

#imageLogin {
    background-image: url(https://images.pexels.com/photos/681846/pexels-photo-681846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
}

#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#logoutButton, #landingSignupButton, #landingLoginButton {
    max-width:500px;
    min-width:40px;
    font-size: 25px;
    border: none;
    background: rgb(7, 11, 15);  
    color: rgb(167, 159, 148);
    cursor: pointer;
    margin: 0;
}

#landingLoginButton:hover {
    background: rgb(167, 159, 148);
    color: black
}

#landingSignupButton:hover {
    background: rgb(167, 159, 148);
    color: black;
}

#Qstn{
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 30px;
}

#modalBtnLeft:hover{
    background: linear-gradient(to top, rgb(45, 59, 50), #FBFBFB);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#modalBtnRight:hover{
    background: linear-gradient(to top, rgb(45, 59, 50), #FBFBFB);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#modalBtnLeft, #modalBtnRight {   
     animation: pulse 2s infinite; 
     border-radius: 20px;
     cursor: pointer;
}

#modalBtnRight {    
    font-family: 'Bangers', cursive;
    text-align: center;    font-size: 25px;
    padding: 0 45px 0 45px;
}

#modalBtnLeft {    
    font-family: 'Bangers', cursive;
    text-align: center;    font-size: 25px;
    padding: 0 45px 0 45px;
}

.title{
    width: 100%;
    font-size: 100%;
}

.heropanel--video {
    font-family:sans-serif;
    min-height:500px;
}

.heropanel__content {
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
    margin: 1px 1px 1px 1px;
    max-width:100%;
    padding:5em 0 3em 0;
    text-align:center;
}

.heropanel__content h1 {
    font-size: 305%;
    margin:0 0 0 0;
    text-transform:uppercase;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.heropanel__content h1 a {
    text-decoration:none;
}

.heropanel__content a {
    margin: 0 0 0 0;
    color: rgb(158, 152, 152);
    text-transform:uppercase;
    min-width: 50%;
    position: relative;
}

#videoBG {
        border-right: 2px solid;
        object-fit: cover;  
        width: 100vw;    
        height: 100vh;   
        position: fixed;
        top: 0;    
        left: 0;
}

#landingLoginButton,#landingSignupButton  {
    border: 8px 8px 8px 8px solid black;
    padding: 8px 8px 8px 8px;
    font-family: 'Permanent Marker', cursive;
}
    @media screen and (min-width: 1087px) {
        #landingLoginButton,#landingSignupButton {
        border-bottom: 0px solid black;
        font-size: 25px; } }
    @media screen and (min-width: 400px) {
        #landingLoginButton,#landingSignupButton {
        margin: 0;
        display: inline-block;
        border-bottom: 0px solid black; } }
